<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>页面框架布局</title>

    <link rel="stylesheet" href="css/bootstrap.css">

    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link rel="stylesheet" href="css/plugin.css">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/frame.css">
</head>
<body>
<div class="main-container">
    <aside class="left-slider">
        <div class="slider-view">
            <ul class="js-slider-container">
            </ul>
        </div>
    </aside>
    <header class="main-top-nav">
        <div class="nav-menu">
            <div class="top-nav-logo">
                <img src="images/f_1.png" alt="MM营销平台" class="logo">
                MM后台管理
            </div>
            <ul class="nav">
                <li>
                    <div>
                        <img src="images/f_2.png" alt="" class="img-user">@john
                    </div>
                </li>
                <li>
                    <a class="btn btn-small btn-white">登录</a>
                </li>
                <li>
                    <a class="btn btn-small btn-white">安全退出</a>
                </li>
            </ul>
        </div>
    </header>
    <aside class="right-content">
        主内容区域<br/>
        主内容区域<br/>
        主内容区域<br/>
        主内容区域<br/>
        主内容区域<br/>
        主内容区域<br/>
        主内容区域<br/>
        主内容区域<br/>
        主内容区域<br/>
        主内容区域<br/>
        主内容区域<br/>
        主内容区域<br/>
        主内容区域<br/>
        主内容区域<br/>
        主内容区域<br/>

    </aside>
</div>
</body>

<!-- / footer -->

<script src="js/jquery.min.js"></script>

<!-- Bootstrap -->

<script src="js/bootstrap.js"></script>

<!-- fuelux -->

<script src="js/fuelux/fuelux.js"></script>

<!-- datepicker -->

<script src="js/datepicker/bootstrap-datepicker.js"></script>

<!-- file input -->
<script src="js/file-input/bootstrap.file-input.js"></script>

<!-- Bootstrap -->

<script src="js/bootstrap.js"></script>

<!-- app -->

<script src="js/app.js"></script>

<script src="js/app.plugin.js"></script>


</html>